<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" type="text/css" />
    <title>DCarrAmazonClone</title>
  </head>
  <body>
    <div class="grid-container">
      <header>
        <div><a href="index.html">DCarrAmazonClone</a></div>

        <div>
          <a href="cart.html">Cart</a>
          <a href="signin.html">Sign In</a>
        </div>
      </header>

      <main>
        <ol>
          <li>1st Product</li>
          <li>2nd Product</li>
          <li>3rd Product</li>
          <li>4th Product</li>
        </ol>
      </main>

      <footer>All Rights Reserved</footer>
    </div>
  </body>
</html>
